

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.navbar {
  height: 100px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
}